html {
  --mat-sys-primary: rgb(0 70 121);
  --mat-sys-surface-tint: rgb(6 97 164);
  --mat-sys-on-primary: rgb(255 255 255);
  --mat-sys-primary-container: rgb(28 106 174);
  --mat-sys-on-primary-container: rgb(255 255 255);
  --mat-sys-secondary: rgb(74 96 124);
  --mat-sys-on-secondary: rgb(255 255 255);
  --mat-sys-secondary-container: rgb(208 227 255);
  --mat-sys-on-secondary-container: rgb(51 73 99);
  --mat-sys-tertiary: rgb(114 57 133);
  --mat-sys-on-tertiary: rgb(255 255 255);
  --mat-sys-tertiary-container: rgb(154 94 172);
  --mat-sys-on-tertiary-container: rgb(255 255 255);
  --mat-sys-error: rgb(186 26 26);
  --mat-sys-on-error: rgb(255 255 255);
  --mat-sys-error-container: rgb(255 218 214);
  --mat-sys-on-error-container: rgb(65 0 2);
  --mat-sys-background: rgb(248 249 255);
  --mat-sys-on-background: rgb(25 28 32);
  --mat-sys-surface: rgb(248 249 255);
  --mat-sys-on-surface: rgb(25 28 32);
  --mat-sys-surface-variant: rgb(221 227 238);
  --mat-sys-on-surface-variant: rgb(65 71 80);
  --mat-sys-outline: rgb(113 119 130);
  --mat-sys-outline-variant: rgb(193 199 210);
  --mat-sys-shadow: rgb(0 0 0);
  --mat-sys-scrim: rgb(0 0 0);
  --mat-sys-inverse-surface: rgb(46 49 53);
  --mat-sys-inverse-on-surface: rgb(239 240 247);
  --mat-sys-inverse-primary: rgb(160 202 255);
  --mat-sys-primary-fixed: rgb(210 228 255);
  --mat-sys-on-primary-fixed: rgb(0 28 55);
  --mat-sys-primary-fixed-dim: rgb(160 202 255);
  --mat-sys-on-primary-fixed-variant: rgb(0 73 126);
  --mat-sys-secondary-fixed: rgb(210 228 255);
  --mat-sys-on-secondary-fixed: rgb(2 29 53);
  --mat-sys-secondary-fixed-dim: rgb(178 200 232);
  --mat-sys-on-secondary-fixed-variant: rgb(50 72 99);
  --mat-sys-tertiary-fixed: rgb(250 215 255);
  --mat-sys-on-tertiary-fixed: rgb(51 0 69);
  --mat-sys-tertiary-fixed-dim: rgb(238 176 255);
  --mat-sys-on-tertiary-fixed-variant: rgb(102 47 122);
  --mat-sys-surface-dim: rgb(216 218 224);
  --mat-sys-surface-bright: rgb(248 249 255);
  --mat-sys-surface-container-lowest: rgb(255 255 255);
  --mat-sys-surface-container-low: rgb(242 243 250);
  --mat-sys-surface-container: rgb(236 238 244);
  --mat-sys-surface-container-high: rgb(230 232 238);
  --mat-sys-surface-container-highest: rgb(225 226 232);
}

.dark {
  --mat-sys-primary: rgb(160 202 255);
  --mat-sys-surface-tint: rgb(160 202 255);
  --mat-sys-on-primary: rgb(0 50 89);
  --mat-sys-primary-container: rgb(3 96 163);
  --mat-sys-on-primary-container: rgb(255 255 255);
  --mat-sys-secondary: rgb(178 200 232);
  --mat-sys-on-secondary: rgb(27 50 75);
  --mat-sys-secondary-container: rgb(40 62 88);
  --mat-sys-on-secondary-container: rgb(187 210 243);
  --mat-sys-tertiary: rgb(238 176 255);
  --mat-sys-on-tertiary: rgb(77 21 97);
  --mat-sys-tertiary-container: rgb(128 71 147);
  --mat-sys-on-tertiary-container: rgb(255 255 255);
  --mat-sys-error: rgb(255 180 171);
  --mat-sys-on-error: rgb(105 0 5);
  --mat-sys-error-container: rgb(147 0 10);
  --mat-sys-on-error-container: rgb(255 218 214);
  --mat-sys-background: rgb(17 20 24);
  --mat-sys-on-background: rgb(225 226 232);
  --mat-sys-surface: rgb(17 20 24);
  --mat-sys-on-surface: rgb(225 226 232);
  --mat-sys-surface-variant: rgb(65 71 80);
  --mat-sys-on-surface-variant: rgb(193 199 210);
  --mat-sys-outline: rgb(139 145 156);
  --mat-sys-outline-variant: rgb(65 71 80);
  --mat-sys-shadow: rgb(0 0 0);
  --mat-sys-scrim: rgb(0 0 0);
  --mat-sys-inverse-surface: rgb(225 226 232);
  --mat-sys-inverse-on-surface: rgb(46 49 53);
  --mat-sys-inverse-primary: rgb(6 97 164);
  --mat-sys-primary-fixed: rgb(210 228 255);
  --mat-sys-on-primary-fixed: rgb(0 28 55);
  --mat-sys-primary-fixed-dim: rgb(160 202 255);
  --mat-sys-on-primary-fixed-variant: rgb(0 73 126);
  --mat-sys-secondary-fixed: rgb(210 228 255);
  --mat-sys-on-secondary-fixed: rgb(2 29 53);
  --mat-sys-secondary-fixed-dim: rgb(178 200 232);
  --mat-sys-on-secondary-fixed-variant: rgb(50 72 99);
  --mat-sys-tertiary-fixed: rgb(250 215 255);
  --mat-sys-on-tertiary-fixed: rgb(51 0 69);
  --mat-sys-tertiary-fixed-dim: rgb(238 176 255);
  --mat-sys-on-tertiary-fixed-variant: rgb(102 47 122);
  --mat-sys-surface-dim: rgb(17 20 24);
  --mat-sys-surface-bright: rgb(54 57 62);
  --mat-sys-surface-container-lowest: rgb(11 14 19);
  --mat-sys-surface-container-low: rgb(25 28 32);
  --mat-sys-surface-container: rgb(29 32 36);
  --mat-sys-surface-container-high: rgb(39 42 47);
  --mat-sys-surface-container-highest: rgb(50 53 58);
}
