@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  font-family: Source Code Pro, "Helvetica Neue", sans-serif;
  color: var(--mat-sys-on-surface);
}

.mdc-notched-outline__notch {
  border-style: none;
}

.mat-mdc-icon-button {
  line-height: normal;
}
