@use "./styles/material.scss" as mat;
@use "./styles/color.scss" as color;
@use "./styles/tailwind.scss" as tailwind;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Source Code Pro, "Helvetica Neue", sans-serif;
}
